@font-face {
    font-family: 'Intro Cond'; /* Имя шрифта */
    src: url('../fonts/IntroCondensed/IntroCondBlack.otf') format('otf'); /* Путь к файлу со шрифтом */
    font-weight: normal;
    font-style: normal;
}
body{
    background: #7da8c3;
}
.sidebar-style{
    background: #1c2d3f;
    color: white;
    font-family: "Intro Cond", Serif;
    height: 100%;
}
.content-style{
    font-family: "Intro Cond", Serif;
}